<component name="libraryTable">
  <library name="logback-core-1.1.2">
    <CLASSES>
      <root url="jar://$USER_HOME$/libyMazeGenerator/logback-1.1.2/logback-core-1.1.2.jar!/" />
      <root url="jar://$USER_HOME$/libyMazeGenerator/logback-1.1.2/logback-classic-1.1.2.jar!/" />
      <root url="jar://$USER_HOME$/libyMazeGenerator/slf4j/slf4j-1.7.7/jcl-over-slf4j-1.7.7.jar!/" />
      <root url="jar://$USER_HOME$/libyMazeGenerator/slf4j/slf4j-1.7.7/slf4j-api-1.7.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/libyMazeGenerator/slf4j/slf4j-1.7.7/jcl-over-slf4j-1.7.7-sources.jar!/" />
      <root url="jar://$USER_HOME$/libyMazeGenerator/slf4j/slf4j-1.7.7/slf4j-api-1.7.7-sources.jar!/" />
      <root url="jar://$USER_HOME$/libyMazeGenerator/logback-1.1.2/logback-classic-1.1.2-sources.jar!/" />
      <root url="jar://$USER_HOME$/libyMazeGenerator/logback-1.1.2/logback-core-1.1.2-sources.jar!/" />
    </SOURCES>
  </library>
</component>